<head>
  <meta charset="utf-8">
  <title>Significant Date Bot</title>
	<link rel="stylesheet" href="css/style.css">
</head>
  <body>
     <p>You're message has been sent to <%=params["name"] %>: <%= params["phone-number"]%> </p>
  # <form action="/confirm" method="POST">
   
    # <input type="text" name="confirm">
    # <input type="submit">
  # </form>    
</body>