<head>
  <meta charset="utf-8">
  <title>Significant Date Bot</title>
	<link rel="stylesheet" href="css/style.css">
</head>
  <body>
  <form action="/confirm" method="POST">
    <p>Is this the correct information? </p>
    <input type="text" name="confirm">
    <input type="submit">
  </form>    
</body>